
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue.eot");
    src: url("../fonts/helveticaneue.eot?#iefix") format("embedded-opentype"),
    url("../fonts/helveticaneue.woff") format("woff"),
    url("../fonts/helveticaneue.ttf") format("truetype"),
    url("../fonts/helveticaneue.svg#HelveticaNeueRegular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-italic.eot");
    src: url("../fonts/helveticaneue-italic.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-italic.woff") format("woff"),
    url("../fonts/helveticaneue-italic.ttf") format("truetype"),
    url("../fonts/helveticaneue-italic.svg#HelveticaNeueItalic") format("svg");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-condensedblack.eot");
    src: url("../fonts/helveticaneue-condensedblack.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-condensedblack.woff") format("woff"),
    url("../fonts/helveticaneue-condensedblack.ttf") format("truetype"),
    url("../fonts/helveticaneue-condensedblack.svg#HelveticaNeueCondensedBlack") format("svg");
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-bold.eot");
    src: url("../fonts/helveticaneue-bold.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-bold.woff") format("woff"),
    url("../fonts/helveticaneue-bold.ttf") format("truetype"),
    url("../fonts/helveticaneue-bold.svg#HelveticaNeueBoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-bolditalic.eot");
    src: url("../fonts/helveticaneue-bolditalic.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-bolditalic.woff") format("woff"),
    url("../fonts/helveticaneue-bolditalic.ttf") format("truetype"),
    url("../fonts/helveticaneue-bolditalic.svg#HelveticaNeueBoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-light.eot");
    src: url("../fonts/helveticaneue-light.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-light.woff") format("woff"),
    url("../fonts/helveticaneue-light.ttf") format("truetype"),
    url("../fonts/helveticaneue-light.svg#HelveticaNeueLight") format("svg");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-lightitalic.eot");
    src: url("../fonts/helveticaneue-lightitalic.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-lightitalic.woff") format("woff"),
    url("../fonts/helveticaneue-lightitalic.ttf") format("truetype"),
    url("../fonts/helveticaneue-lightitalic.svg#HelveticaNeueLightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-medium.eot");
    src: url("../fonts/helveticaneue-medium.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-medium.woff") format("woff"),
    url("../fonts/helveticaneue-medium.ttf") format("truetype"),
    url("../fonts/helveticaneue-medium.svg#HelveticaNeueMedium") format("svg");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-ultralight.eot");
    src: url("../fonts/helveticaneue-ultralight.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-ultralight.woff") format("woff"),
    url("../fonts/helveticaneue-ultralight.ttf") format("truetype"),
    url("../fonts/helveticaneue-ultralight.svg#HelveticaNeueUltraLight") format("svg");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-ultralightitalic.eot");
    src: url("../fonts/helveticaneue-ultralightitalic.eot") format("embedded-opentype"),
    url("../fonts/helveticaneue-ultralightitalic.woff") format("woff"),
    url("../fonts/helveticaneue-ultralightitalic.ttf") format("truetype"),
    url("../fonts/helveticaneue-ultralightitalic.svg#HelveticaNeueUltraLightItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}